.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #F2F2F2;
  gap: 10px;
}

.img {
  margin-bottom: 20px;
}

.Card {
  background-color: var(--Card-Fill);
  border: 1px solid var(--Card-Stroke);
  border-radius: 10px;
  height: fit-content;
  width: 60%;
  max-width: 450px;
  /* max-height: 600px; */
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 0px 20px #0000005d;
}

.Card2 {
  background-color: var(--Card2-Fill);
  border: 1px solid var(--Card2-Stroke);
  border-radius: 3%;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.Card2Item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid red; */
  padding: 10px;
}

.Card2Item:hover,
.Card2Item.selected {
  background-color: var(--Card2-Fill-Hover);
}


.Card2Item h5{
  margin: 0px;
  padding: 0px;
}

.Card h2 {
  margin: 0px;
  margin-bottom: 10px;

}

.Card p {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 6px;
}

.CardItem {
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.CardItem p {
  margin: 0px;
}

.CardItem input {
  height: auto;
  width: 50%;
  max-width: 300px;
  padding: 4px;
  color: #F2F2F2;
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
}

.CardItem input:focus {
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  outline: unset;
}

.LargeInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.LargeInput p{
  margin-bottom: 15px;
}

.LargeInput textarea {
  height: 200px;
  width: 100%;
  max-width: 425px;
  align-self: center;
  padding: 10px;
  color: #F2F2F2;
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  resize: none;
}

.LargeInput textarea::placeholder {
  font-size: 12px;
}

.LargeInput textarea:focus {
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  outline: unset;
}

.Button {
  display: flex; 
  align-self: flex-end;
  justify-self: end;
  justify-content: end;
  bottom: 50px;
}

.Button button{
  background-color: var(--Button-Fill);
  border: 1px solid var(--Button-Stroke);
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 75px;
}