.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #F2F2F2;
  gap: 10px;
}

.img {
  margin-bottom: 20px;
}

.Card {
  background-color: var(--Card-Fill);
  border: 1px solid var(--Card-Stroke);
  border-radius: 10px;
  height: fit-content;
  width: 450px;
  /* max-height: 600px; */
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.Card h2 {
  margin: 0px;
  margin-bottom: 10px;

}

.Card p {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 6px;
}

.CardItem {
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.CardItem p {
  margin: 0px;
}

.CardItem input {
  height: auto;
  width: 300px;
  padding: 4px;
  color: #F2F2F2;
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
}

.CardItem input:focus {
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  outline: unset;
}

.LargeInput{
  margin-bottom: 10px;
}

.LargeInput textarea  {
  height: 200px;
  width: 100%;
  padding: 4px;
  color: #F2F2F2;
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  resize: none;
}
.LargeInput textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
}

.LargeInput textarea:focus {
  background-color: var(--Input-Fill);
  border: 1px solid var(--Input-Stroke);
  border-radius: 3px;
  outline: unset;
}

.Button{
  align-self: end;
}